body {
    margin: 0;
    padding: 0;
    background: #232323;
    display: flex;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    cursor: pointer;
}